body {
  background: rgb(88,108,84);
}

.fade-logo {
  animation: fadeIn 2.75s;
  animation-delay: 0.25s;
}

.center {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}