body {
  background: rgb(88,108,84);
}

.fade-in {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  animation: fadeIn 3.5s;
  animation-delay: 0.35s;
  animation-fill-mode: forwards;
}

#text-container p {
    margin: 0;
}

.logo {
  width: 175px;
  height: 175px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
